@media screen  and (max-width:600px){
    body{
        max-width: 600px;
        margin: 0 auto;
    }
    .header-section{
        max-width: 600px;
        margin: 0 auto;
        
    }
    .container{
        width: 95%;
        margin: 0 auto;

    }
    .container .select-type{
        flex-direction: column;
    }
    .container .select-type select,input,button{
        display: block;

    }
    .section-content{
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        margin-top: 3rem;

    }
    .heading{
        font-size: 35px;
        padding-top: 20px;
    }
    .text{
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    #destination .img-content{
        grid-template-columns: 1fr;

    }
    #destination .img-content .img-1{
        grid-column: 1fr;
    }
        
    
    
}
