*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1250px;
    margin: 0 auto;
}
/* Navbar-section-starts-here */
.header-section{
    max-width: 1250px;
    margin: 0 auto;
    display:flex;
}
.Nav-container{
    min-height: 20px; 
    display: flex;
    align-items: center;
    width: 50%;
}
.Nav-container img{
    width: 65px;
    object-fit: cover;
}
.Nav-container p{
    font-size: 25px;
}
.Nav-color{
    color:#FF5400;
    font-weight: 900;
}
.Nav-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Nav-content a {
    text-decoration:none; 
}
.home{
    color: #ff6347;
    font-weight: 800;
}

    /* Banner-content */
.container {
    height:500px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background: url(../styles/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
  }
  .container .select-type select,input,button{
    padding: 1rem 1.5rem;
    width: 200px;
    border-radius: 15px;
  }
  .container .select-type{
    width: 60%;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    gap: 10px;
    border-radius: 10px;
background: rgba(255, 255, 255, 0.30);
  }
  .text{ font-size: medium;
    padding-top: 30px;

}
  
  .heading {
    font-size: 60px;
    font-weight: bold;
    color:white;
    margin-top: 50px;
    padding-top: 80px;
  }
  

  .select-type {
    display: flex;
    margin-top:100px;
    padding: 0 15px;
    align-items: center;
    border-radius: 15px;
  }
  
  .find-btn {
    border: none;
    border-radius: 0.25rem;
    background-color: #ff6347;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
       /* main-section starts here */
.section-content{
    display: flex;
    margin-top: 50px;
   gap: 50px;
}
.text-img{
    margin-right: 30px;
    width: 540px;
    height: 550px;
    
}
.section-content .main-content h1{ 
    font-size: 3rem;
    margin-bottom: 1rem;

}
.section-content .main-content p{
    font-size: 1rem;
    margin-bottom: 1.5rem;

}
.section-content .main-content ul li{
    font-size: 1rem;
    margin: 1rem 0;
    margin-left: 1rem;

}
.text-img img{
    padding-right: 80px;
}
.read{
   background-color: #FF5400;
   margin: 0 auto;
   border: #FF5400;
   border-radius: 5px;
   padding: auto;
}
      /* middle section */
  #destination{
    width: 100%; 
}

#destination .describtion{
    text-align: center;
    margin: 4rem 0 3rem 0;
}

#destination .describtion h1{
    font-size:3rem;
    font-weight:800;
    margin-bottom: 1rem;
}

#destination .describtion p{
    font-size: small;
    font-weight: 800;
}

#destination .img-content{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

#destination .img-content .img img{
    width: 100%;
}

#destination .img-content .img-1{
    grid-column: 1/span 6;
}

#destination .img-content .img-2{
    grid-column: 7/span 6;
}

#destination .img-content .img-3{
    grid-column: 1/span 4;
}

#destination .img-content .img-4{
    grid-column: 5/span 5;

}

#destination .img-content .img-5{
    grid-column: 10/span 3;
}

#destination .img-content .img-6{
    grid-column: 1/span 5;
}
#destination .img-content .img-7{
    grid-column: 6/span 7;
}
    /* third section */
    .third-section{
        width: 100%;
        margin: 4rem auto;
    }
    .third-section .third-text{
        text-align: center;
    }
    
    .third-section .third-text h1{
        font-size: 3rem
        font-weight: 600
        margin-bottom: 1.5rem;
    }
    
    .third-section .third-text p{
        font-size: 1rem;
        font-weight: 600;
    }
    
    .third-section .box-content{
        width: 95%;
        margin: 3rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    
    .third-section .box-content .choose_options{
        width: 48%;
        height: 280px;
        padding: 2rem 2rem;
        border-radius: 10px;
    }
    
    .third-section .box-content .choose_options h2{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    
    
    .third-section .box-content .choose_options img{
        width: 64px;
        margin-bottom: 1rem;
    }
    
    .third-section .box-content .center-1{
        background: #FFFBF7;
    }
    
    .third-section .box-content .center-2{
        background: #F4FDFF;
    }
    
    .third-section .box-content .center-3{
        background: #FEF6F6;
    }
footer{
    width: 100%;
    text-align: center;

}
.footer-img{
    width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size:30px;
    margin-bottom: 3rem;

}
